@font-face {
  font-family: "MullerRegular";
  src: url("./fonts/MullerRegular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/MullerRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/MullerRegular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/MullerRegular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/MullerRegular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/MullerRegular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/MullerRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VisbyCF-Medium";
  src: url("./fonts/VisbyCF-Medium.eot"); /* IE9 Compat Modes */
  src: url("./fonts/VisbyCF-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/VisbyCF-Medium.otf") format("opentype"), /* Open Type Font */
    url("./fonts/VisbyCF-Medium.svg") format("svg"), /* Legacy iOS */
    url("./fonts/VisbyCF-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/VisbyCF-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/VisbyCF-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
 /*1 блок - хедер*/

 /*фон-хедер*/
.header {
  background-image: url(../img/bg_header.png);
  width: 1350px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

/*магнит*/
.layers__header {
  width: 900px;
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: -20px;
}
/*белый фон под лого*/
.rectangle-header {
  position: relative;
  margin-top: -30px;
  margin-left: 150px;
  z-index: 9;
}
/*лого на белом фоне*/
.logo-header__img {
  position: absolute;
  margin-top: -40px;
  margin-left: 85px;
  z-index: 10;
}
/*див текстом и заголовком в хедер*/
.text_header {
  margin-top: 150px;
  margin-left: 88px;
}
/*текст в хедер*/
.paragraph__text_header {
  color: #44a09b;
  font-family: "Muller", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}

/*заголовок в хедер*/
.h__text_header {
  color: #000000;
  font-family: "Muller", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  text-transform: capitalize;
}
/*спан с маленькими буквами*/
.litle_letter{
  text-transform: lowercase;
}
/*спан с жирным начертанием*/
.bold_letter {
  font-weight: 700;
}

/*белый прямоуголник с кнопкой*/
.rect-header {
  width: 530px;
  height: 100px;
  background: #ffffff;
  position: absolute;
  margin-top: 10px;
  margin-left: -40px;
  z-index: 10;
  border-radius: 50px;
}
/*текст на белом прямоугольнике*/
.paragraph__rect-header {
  margin-left: 135px;
  color: #ff8141;
  font-family: "Muller", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
/*кнопка в хедер*/
.btn {
  width: 270px;
  height: 40px;
  border-radius: 50px;
  background-color: #ff8141;
  border: none;
  margin-top: 0px;
  margin-left: 135px;
  color: #ffffff;
}

.btn:hover {
  background: #273d50;
  cursor: pointer;

}
/*текст кнопки в хедер*/
.btn_text {
  color: #ffffff;
  font-family: "Muller", sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 8px;

}

/*csroll -див*/
.csroll__header {
  position: absolute;
  left: 50%;
  bottom: 10px;
}

/*csroll -текст*/
.text__csroll__header {
  color: #ffffff;
  font-family: 'VisbyCF-Medium', sans-serif;
  font-size: 8px;
  font-weight: 400;
  text-transform: uppercase;
}

/*csroll - треугольник*/
/*.triangle  {
  width: 0;
  height: 0;
  border-left: 14px solid white;
  border-right: 14px solid white;
  border-top: 18px solid white;
  margin: 0 auto;
}*/

.triangle {
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right:22px solid transparent;
  border-top: 22px solid white;
  margin: 0 auto;
}


/*.triangle_play {
  width: 0;
  height: 0;
  border-left: 22px solid white;
  border-right:22px solid white;
  border-top: 22px solid white;
  position: absolute;
  margin-left: 30px;
  margin-top: 35px;

}*/

.fa-caret-right {
 color: #ffffff;
  position: absolute;
  left: 40px;
  top: 10px;

}


/*блок слева*/
.block1 {
  float: left;
  width: 59%;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.arrow {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 46%;
  bottom: 16%;
  z-index: 1;
}


.text__block1 {  
  font-family: 'Indie Flower', cursive; 
  text-align: center;
  transform: rotate(10deg);
  position: absolute;
  left: 64%;
  bottom: 9%;
  z-index: 1;

}
/*.text_webinar__block1 {
  display: block;
  position: absolute;
  z-index: 1;
  color: #000000;
}*/

/*картинка - блок слева*/
.img__block1 {
  width: 825px;
  margin-top: -1px;
  position: relative;
  opacity: 0.6;
}

/*circle*/
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000000;
  position: absolute;
  bottom: 35%;
  right: 45%;
}



/*блок справа*/
.block2 {
  float: right;
  width: 40%;
  height: 600px;
  background: #ffffff;
  position: relative;
}
 /*текст - блок справа*/
.text__block2 {
  margin-top: 60px;
  margin-left: 60px;

}
/*h2 - текст блок справа*/
.h2__text__block2 {
  color: #3a4a62;
  font-family: 'VisbyCF-Medium', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 30px;
}
 
/*блок с list */
.list__block2 {
  margin-left: 25px;
}

/*блок с item*/
.item__list__block2 {
  margin-left: 0px;
  list-style: none;
  color: #575656;
  font-family: 'VisbyCF-Medium', sans-serif;
  font-size: 15px;
  font-weight: 300; 
  margin-left: 1.5em;
  text-indent: -1.5em;
}

/*галочки*/
.fa-chevron-right {
  margin-right: 20px;
  color: #ff8141;
}

.fa-chevron-right:hover {
  margin-right: 20px;
  color: #ff8141;
  transform: rotate(10deg);
  cursor: pointer;
}

/*сердечко*/
.heart__block2{
  margin-top: 50px;
  margin-left: 50px;
}
.fa-heart {
  color: #fc5547;
  margin-right: 20px;
}

.fa-heart:hover {
  cursor: pointer;
  transform: scale(2,2);
}
.btn__block2 {
  margin-left: 60px;
  margin-top: 35px;
}

/*футер*/
.footer {
  clear: both;
  background-color: #273d50;
  height: 150px;
  margin-top: -70px;
}


/*футер - абзац*/
.p__footer {
  color: #fefdfd;
  font-family: 'VisbyCF-Medium', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 53px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  text-align: center;
  padding-top: 40px;
}














/*@font-face {
  font-family: 'VisbyCF-Medium';
  src: url('VisbyCF-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/VisbyCF-Medium/VisbyCF-Medium.woff') format('woff'), url('../fonts/VisbyCF-Medium/VisbyCF-Medium.ttf')  
  format('truetype'), url('../fonts/VisbyCF-Medium/VisbyCF-Medium.svg#VisbyCF-Medium') 
  format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MulerRegular/MullerRegular.eot?#iefix') 
  format('embedded-opentype'),  
  url('../fonts/MulerRegular/MullerRegular.otf')  format('opentype'),
  url('../fonts/MulerRegular/MullerRegular.woff') format('woff'), 
  url('../fonts/MulerRegularsMullerRegular.ttf')  
  format('truetype'), 
  url('../fonts/MulerRegular/MullerRegular.svg#MullerRegular') 
  format('svg'),
  font-weight: normal;
  font-style: normal;
}


*/